footer {
	font-size: 1.5rem;
	width: inherit;
	position: fixed;
	bottom: 0;
	background-color: white;
	padding: 0.5rem 0 2rem 0;
	box-shadow: 0px 0px 25px 20px white;
	li {
		display: inline;
	}
	a {
		border-bottom: 0.3rem solid $accent;
		font-weight: 600;
	}
}