* {
	font-family: Arial;
}

body {
	margin: 0;
	padding: 0;
	background-color: #f3f4f4;
}

.container {
	width: 90%;
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 30px;
}

section {
	margin-top: 20px;
}

ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: inline;
}

a, a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	color: blue;
}

#template-wrapper {
	padding: 30px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
}

#template {
	font-size: 2em;
}

#input-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 10px;
}

#input-field {
	font-size: 1.5em;
	outline: none !important;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: block;
	padding: 30px;
	background-color: #eee;
}

.disabled:hover {
	cursor: not-allowed;
}

.buttons {
	margin-top: 10px;
	justify-content: center;
}

#timer {
	font-size: 2em;
	margin-top: 20px;
}

button {
	padding: 10px;
	border-radius: 3px;
	background-color: white;
	-webkit-appearance: none;
	border: 1px solid #ddd;
	font-size: 1em;
}

button:hover {
	cursor: pointer;
}

#start-button:hover {
	background-color: lightblue;
}

#reset-button:hover {
	background-color: lightpink;
}

#current {
	padding: 5px;
	background-color: #ddd;
	border-radius: 3px;
}